<%- include("partials/header") %>


<div class="ui main text container">
    <div class="ui huge header">ALL EVENT ORGANIZERS LIST</div>
    <div class="ui top  attached segment">
        <div class="ui divided items">
            <% events.forEach(function(event){ %>
                <div class="item">
                    <div class="image">
                        <img src="<%= event.image %>" >
                    </div>
                    <div class="content">
                         <a class="header" href="/events/<%= event._id %>"><%=event.title%></a>
                         <div class="meta">
                             <span><%= event.created.toDateString() %></span>
                         </div>
                         <div class="description">
                             <p><%- event.body.substring(0, 300) %> . . .</p>
                         </div>
                         <div class="extra">
                             <a class="ui floated basic violet button" href="/events/<%= event._id %>">
                                 Read More
                                 <i class="right chevron icon"></i>
                             </a>
                         </div>
                    </div>
                </div>
            <% }) %>
        </div>
    </div>
</div>






<%- include("partials/footer") %>
